body{
    background-image: url("Pictures/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    font-family:Garamond;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    
}
a{
    color: darkslategrey;
    font-size: 30px;
    alignment: center;
    font-family: Arial;


}
button {
    background-color: darkslategrey;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 200px;


}
@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(1.1); }
    to { transform: scale(1); }
}

button:active {
    animation: pulse 0.5s;
}
.div-portfolio{
    text-align: center;
}
.buttonmargin{
    margin-left: 75px;
}
.firstbuttonmargin{
    margin-left: 80px;
}

.hoofd-cv
{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Arial;

}
.hoofd2-cv{
    font-weight: bold;
    font-size: 20px;
    margin-left: 525px;
    text-decoration: underline;
    margin-bottom: 1px;
    font-family: Arial;
}

.text1-cv{
    margin-left: 525px;
    font-size: 15px;
    margin-bottom: 1px;
    display: inline-block;
    font-family: Arial;
}
.text1-cv-icoontjes{
    margin-left: 525px;
    font-size: 17px;
    margin-bottom: 1px;
    display: inline-block;
    font-weight: bold;
    font-family: "Courier New";

}
.text2-cv{
    margin-left: 25px;
    margin-bottom: 1px;
    font-size: 15px;
    display: inline-block;
    font-family: Arial;
}
.text3-cv{
    margin-left: 105px;
    font-size: 15px;
    margin-bottom: 1px;
    display: inline-block;
    font-family: Arial;
}
.div-cv-foto{

    border: 2px black;
    display: inline-block;
    float: right;
    margin-right: 400px;

}
img:hover{
    filter: blur(1px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5) ;
}


.box{
    width: 400px; height: 150px;
    display: inline-block;
    margin: 150px;
}
.box2{
    width: 400px; height: 150px;
    display: inline-block;
    margin: 150px;
    float: right;
}
.box3{
    width: 400px; height: 150px;
    margin-bottom: 150px;
    margin-left: 500px;
    display: inline-block;
}
.box4{
    width: 400px; height: 150px;
    margin-bottom: 150px;
    margin-left: 450px;
    display: inline-block;
}
.box5{
    width: 400px; height: 150px;
    margin-bottom: 150px;
    margin-left: 50px;
    display: inline-block;
}

.boxInfo{
    width: auto; height: auto;
    margin-top: 250px;
    margin-left: 175px;
    margin-right: 175px;
    display: inline-block;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    border-color: darkgoldenrod;
    font-size: 35px;
    font-family: Arial;
    font-weight: bold;
}
